.bottom_navigation {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 25px;
    height: 70px;
    background-color: var(--main-background-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-top: 1px solid var(--main-background-primary);
}

.bottom_navigation button {
    background: none;
    border: none;
}
.bottom_navigation button svg {
    object-fit: contain;
}

.bottom_navigation button span {
    display: block;
    font-size: 0.8rem;
}

@media (min-width: 450px) {
    .bottom_navigation {
        display: none;
    }
}
