.hero{
    padding: 0 5%;
    width: 100%;
}
.hero .hero_box{
    width: min(1150px, 100%);
    margin: 20px auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero .hero_left{
    width: 50%;
    margin-top: 30px;
}
.hero .hero_left h1{
    font-size: 2.5rem;
    color: var(--primary-lighter-text);
}
.hero .hero_left a{
    text-decoration: none;
    color: var(--primary-dark-text);
    background-color: var(--primary-light-yellow);
    display: inline-flex;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    transition: .5s;
}
.hero .hero_left a:hover{
    padding-right: 50px;
    opacity: .8;
}
.hero .hero_left a:active{
    opacity: 1;
}


.hero .hero_right{
    width: 45%;
}
.hero .hero_right img{
    width: 100%;
    height: 100%;
}





@media (max-width: 1100px) {
    .hero .hero_left h1{
        font-size: 2rem;
    }    
}
@media (max-width: 850px) {
    .hero .hero_left h1{
        font-size: 1.5rem;
    }    
}
@media (max-width: 700px) {
    .hero .hero_box{
        flex-wrap: wrap;
    }
    .hero .hero_right,
    .hero .hero_left{
        width: 100%;
    }    
    .hero .hero_left {
        margin-top: 30px;
        margin-bottom: 30px;
    } 
    .hero .hero_left h1{
        font-size: 2.5rem;
    } 
}
@media (max-width: 400px) {
    .hero .hero_left h1{
        font-size: 1.5rem;
    } 
}