.numbers{
    padding: 0 5%;
    margin-top: 100px;
}
.numbers .numbers_box{
    width: min(1150px, 100%);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.numbers .numbers_content{
    width: 20%;
}
.numbers .numbers_content h1{
    font-size: 1.5rem;
    color: var(--primary-lighter-text);
}
.numbers .numbers_content p{
    color: var(--primary-light-text);
    margin-top: 8px;
}
