.main_header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: var(--main-background-secondary);
    z-index: 5;
    border: 1px solid var(--main-background-primary);
}

.main_header nav {
    padding: 15px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header nav .logo_container {
    display: flex;
    align-items: center;
}
.main_header nav .logo_container a:first-child {
    color: var(--primary-yellow);
    font-weight: 600;
    opacity: 1;
}
.main_header nav .logo_container a {
    text-decoration: none;
    color: var(--primary-dark-text);
    margin-right: 30px;
    opacity: 0.9;
}
.main_header nav .logo_container a:hover {
    opacity: 0.4;
}

.main_header nav .auth_links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.main_header nav .auth_links a svg {
    width: 15px;
    height: 15px;
}
.main_header nav .auth_links a {
    background-color: var(--primary-light-yellow);
    text-decoration: none;
    color: var(--primary-dark-text);
    font-size: 0.9rem;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.main_header nav .auth_links a:hover {
    padding-left: 40px;
    opacity: 0.8;
}
.main_header nav .auth_links a:active {
    opacity: 0.8;
}

.main_header nav button {
    background: none;
    border: none;
}
.main_header nav button svg {
    color: var(--primary-yellow);
    width: 40px;
    height: 40px;
}

.main_header nav .sidebar {
    width: 70%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(240, 239, 239, 1);
    border-right: 1px solid var(--main-background-secondary);
    padding: 15px 5%;
}
.main_header nav .sidebar a {
    display: block;
}
.main_header nav .sidebar .sidebar_logo {
    display: block;
    text-decoration: none;
    color: var(--primary-yellow);
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.main_header nav .sidebar .sidebar_auth_links a {
    background-color: var(--primary-light-yellow);
    text-decoration: none;
    color: var(--primary-dark-text);
    font-size: 0.9rem;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.main_header nav .sidebar .sidebar_auth_links a:hover {
    padding-left: 40px;
    opacity: 0.8;
}
.main_header nav .sidebar .sidebar_auth_links a:active {
    opacity: 0.8;
}

@media (min-width: 600px) {
    .main_header nav button {
        display: none;
    }
}
@media (max-width: 600px) {
    .main_header nav .auth_links {
        display: none;
    }
    .main_header nav .invisible_links {
        display: none;
    }
}
