.main_container {
    width: 90%;
    margin: 0 5%;
    margin-top: 90px;
    min-height: 100vh;
}
.main {
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
}

.main small {
    color: #666;
    display: flex;
    align-items: center;
}
.main small svg {
    color: #666;
    margin-left: 10px;
}
.main strong {
    font-size: 1.3rem;
    color: #444;
    margin: 10px 0;
    display: block;
}
.main p {
    color: #444;
    margin-top: 50px;
}

.main .box .row_container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}
.main .box .row_container .row_left {
    width: min(450px, 100%);
}
.main .box .row_container .row_right {
    flex: 1;
    overflow: hidden;
}

.main .box .box_row {
    margin-top: 15px;
}
.main .box .box_row button {
    padding: 13px 40px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #444;
    border-radius: 4px;
    transition: 0.5s;
}
.main .box .box_row button:last-child {
    background-color: var(--primary-light-yellow);
}
.main .box .box_row button:hover {
    opacity: 0.8;
}
.main .box .box_row button:active {
    opacity: 0;
}

.main .box .box_column {
    width: min(300px, 100%);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    background-color: var(--main-background-primary);
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
}
.main .box .box_column .box_column_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main .box .box_column .box_column_item .box_column_item_left {
    display: flex;
    gap: 5px;
}
.main .box .box_column .box_column_item .box_column_item_left div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main .box .box_column .box_column_item .box_column_item_left div span {
    color: #333;
}
.main .box .box_column .box_column_item .box_column_item_left img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

.main .box .box_column .box_column_item .box_column_item_right div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main .box .box_column .box_column_item .box_column_item_right div span {
    color: #333;
}

@media (max-width: 950px) {
    .main .box .row_container {
        gap: 30px;
        flex-wrap: wrap;
    }
    .main .box .row_container .row_left {
        width: 100%;
    }
    .main .box .row_container .row_right {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main .box .box_row button {
        width: 100%;
    }
}
