.login_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.login_container .login_container_left{
    flex-basis: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
 
.login_container .login_container_right{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_container .login_container_right img{
    width: 70%;
}
.login_container .login_container_right h1{
    color: var(--primary-light-text);
    margin-top: 30px;
    margin-bottom: 10px;
}
.login_container .login_container_right p{
    color: var(--primary-lighter-text);
    margin-bottom: 10px;
    opacity: .9;
}






.login_container .login_container_left form{
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.login_container .login_container_left form h1{
    color: var(--primary-light-text);
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.login_container .login_container_left form p{
    color: var(--primary-lighter-text);
    margin-bottom: 35px;
}
.login_container .login_container_left form input:hover{
    border: 1px solid var(--violet);
}
.login_container .login_container_left form input{
    display: block;
    width: 100%;
    height: 70px;
    outline: none;
    border: none;
    background-color: var(--main-background-secondary);
    color: var(--text-white);
    margin-bottom: 20px ;
    border-radius: 5px;
    padding: 4px 14px;
}


.login_container .login_container_left form button{
    border: none;
    color: var(--white);
    background-color: var(--primary-light-yellow);
    margin: 15px 0;
    border-radius: 5px;
    padding: 18px 0;
    width: 100%;
    transition: .3s;
    font-weight: 600;
    cursor: pointer;
}
.login_container .login_container_left form button:hover{
    opacity: .7;
}
.login_container .login_container_left form  a{
    color: var(--violet);
    text-decoration: none;
    font-size: .9rem;
}
.login_container .login_container_left form a:hover{
    opacity: .8;
}



 










@media (max-width: 1050px){
    .login_container .login_container_left form{
        width: 100%;
    }
    
}

@media (max-width: 800px){
    .login_container {
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .login_container .login_container_left{
        padding: 0;
        flex-basis: 70%;
    }
    .login_container .login_container_right{
        display: none;
    }
}
@media (max-width: 680px){
    .login_container .login_container_left{
        flex-basis: 90%;
    }
}
@media (max-width: 400px){
    .login_container .login_container_left{
        flex-basis: 95%;
    }
}



