:root {
    /**
    * dark theme colors 
    */

    --main-background-primary: rgba(240, 239, 239, 0.39);
    --main-background-secondary: rgb(255, 255, 255);
    --main-background-tertiary: rgba(226, 225, 225, 0.548);

    --white: rgb(255, 255, 255);
    --outline: rgba(178, 182, 187, 0.15);

    /* --primary-yellow: rgb(240, 185, 11); */
    /* --primary-light-yellow: rgb(255, 223, 44); */
    --primary-yellow: rgb(84, 170, 195);
    --primary-light-yellow: rgb(84, 170, 195);
    --primary-light-text: rgb(30, 35, 41);
    --primary-lighter-text: rgb(30, 35, 41);
    --primary-dark-text: rgb(30, 35, 41);
    --green-primary-light: rgb(131, 250, 176);
    --green-primary-dark: rgba(84, 230, 140, 0.829);
    --violet: rgba(157, 109, 235, 0.856);
    --violet-hover: rgba(157, 80, 235, 0.3);
    --violet-light-bg: rgba(157, 80, 235, 0.08);

    /* --accent: hsl(229, 76%, 66%);
    --text-white: rgb(234, 233, 236);
    --text-dark: rgb(80, 79, 82);
    --text-white-dark: rgb(163, 163, 165);
    --yellow-primary: rgba(255, 229, 81, 0.5);
    --yellow-primary-hover: rgba(247, 200, 99, 0.755);
    --yellow-primary-hover-bg: rgba(247, 200, 99, .5);
    --text-yellow: rgba(255, 175, 1, 0.932);
    --text-tomato: rgb(253, 111, 101);
    --blue-primary-dark: rgb(107, 159, 255);
    --blue-primary-light: rgb(138, 193, 255);
    --blue-violet: rgb(86, 124, 247);
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    color: rgb(30, 35, 41);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--main-background-primary);
}
.app {
    z-index: 1;
    overflow: hidden;
}
::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: hsl(229, 7%, 54%);
    border-radius: 15px;
}
